.food-item{
    width: 100%;
    margin: auto;
    border-radius:15px;
    transition: 0.4s;
    animation: fadeIn 1.2s ease-in-out;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.food-item-image{
    width: 100%;
    display: block;
    height: 180px;
    object-fit: cover;
}
.food-item-info{
    padding:20px;

}
.food-item-name-rating{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;

    margin-bottom:10px;
}
.food-item-name-rating p{
   font-size:20px;
    font-weight:600;
}
.food-item-name-rating img{
    width: 70px ;                                          
}
.food-item-desc{
    font-size:16px;
    color: #666666;
    
}
.food-item-price{
    color: tomato;
    font-size:22px;
    font-weight:700;
    margin: 15px 0;
}
.food-item-img-container{
    position: relative;
    width: 100%;
}

.food-item-img-container .add{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 35px;
    cursor: pointer;
    border-radius: 50%;
}
.item-count-container{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    display:flex;
    align-items: center;
    gap:10px;
    padding:5px 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.item-count-container img{
    width: 30px;
    cursor:pointer;
}