.food-display{
    margin-top:30px;
    margin-bottom: 80px;

}
.food-display h2{
    font-size: max(2vw,2px);
    font-weight: 600;
    margin-left: 5vw;
}
.food-display-list{
    display: grid;
    gap:30px;
    row-gap:50px;
    margin-top:30px;
    margin-left: 5vw;
    margin-right: 5vw;
        grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
    .food-display-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .food-display-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .food-display-list {
        grid-template-columns: 1fr;
    }
}