.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw, 24px);
    text-align: center;
    font-weight: 600;
}
.app-download-preference{
    display:flex;
    justify-content: center;
    gap: max(2vw, 16px);
    margin-top: 40px;
    font-size: max(1.5vw, 16px);
    color: gray;
}
.app-download-preference img{
    width: max(10vw, 120px);
    max-width: 180px;
    cursor: pointer;
}
.app-download-preference img:hover{
    transform: scale(1.05);

}