.sidebar{
    width:18%;
    min-height:100vh;
    border:1.5px solid rgb(214, 206, 206);
    border-top:0;
    font-size:max(1vw,10px);

}
.sidebar-options{
    padding-top: 50px;
    padding-left:20%;
    display:flex;
    gap:20px;
    flex-direction:column;


}
.sidebar-option{
    display:flex;
    align-items:center;
    gap:12px;
    border:1px solid rgb(214, 206, 206);
    border-right:0;
    padding:8px 10px;
    border-radius:3px 0px 0px 3px;


}
.sidebar-option .active{
    background-color: white;
    border-color:tomato;
}

@media (max-width:900px){
    .sidebar-option p{
        display:none;
    }
}